<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--     integration of bootstrap css-->

  <link rel="stylesheet" href="../src/css/main.css">
  <!--      integration of boostrap js-->
  <script defer src="../src/js/bootstrap.bundle.js"></script>
  <meta name="description" content="Site d'une association de dentelles aux fuseaux réalisant des exposition a travers l'europe, donnant aussi des cours les fuseaux malin a pour but de continuer la transmission des savoir d'antant">

  <title>Cours de dentelles aux fuseaux Aube</title>
</head>
<body>
<div class="title container-fluid">
  <h1  class="headers text-center">Les Fuseaux Malins</h1>
</div>
<div class="wrapper d-flex flex-row">
  <header>
    <div class="sidebar-header flex-column">
      <nav class="navbar ">
        <ul >
          <li>
            <a class="navbar-brand" href="../index.html">
              <img src="../src/img/LesFuseauxMalins.svg" alt="logo des fuseaux malin" width="200" height="200">
            </a>
          </li>
          <li>
            <a class="btn buttonMenu mb-2 " href="../index.html">Accueil</a>
          </li>
          <li>
            <a class="btn buttonMenu mb-2"  href="event.html">Evenement</a>
          </li>
          <li>
            <!-- Default dropright button -->
            <div class="btn-group dropend">
              <button type="button" class="btn buttonMenu  dropdown-toggle" id="dropMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nos amis
              </button>
              <ul class="dropdown-menu py-0" aria-labelledby="dropMenu" id="friendsLink">
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item">Sebourg</a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item">Caen</a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item">Mirecourt</a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item">Bayeux</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="flex-fill">
    <div class="container">
      <div class="row">
        <div class="col">
          <section class="col-3">
            <div class="card align-center" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card align-center" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card align-center" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card align-center" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
            <div class="card align-center" style="width: 18rem;">
              <img src="..." class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
              </div>
            </div>
          </section>
        </div>
      </div>
    </div>
  </main>
</div>