<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!--     integration of bootstrap css-->

  <link rel="stylesheet" href="../src/css/main.css">
  <link rel="shortcut icon" href="../src/img/favicon.ico">
  <!--      integration of boostrap js-->
  <script defer src="../src/js/bootstrap.bundle.js"></script>
  <meta
      content="Site d'une association de dentelles aux fuseaux réalisant des expositions a travers l'Europe, donnant aussi des cours les fuseaux malin a pour but de continuer la transmission des savoir d'antant"
      name="description">
  <!--  meta insta facebook-->
  <meta content="Cours de dentelles aux fuseaux" property="og:title"/>
  <meta content="website" property="og:type"/>
  <meta content="http://lesfuseauxmalins.fr" property="og:url"/>
  <meta content="C:\Users\sevse\PhpstormProjects\les_fuseaux_malins\src\img\LesFuseauxMalins.svg" property="og:image"/>
  <meta
      content="Site d'une association de dentelles aux fuseaux réalisant des exposition a travers l'europe, donnant aussi des cours les fuseaux malin a pour but de continuer la transmission des savoir d'antant"
      property="og:description"/>
  <!--    meta twitter-->
  <meta content="website" name="twitter:card"/>
  <meta content="http://lesfuseauxmalins.fr" property="og:url"/>
  <meta content="Cours de dentelles au fuseaux" property="og:title"/>
  <meta
      content="Site d'une association de dentelles aux fuseaux réalisant des exposition a travers l'europe, donnant aussi des cours les fuseaux malin a pour but de continuer la transmission des savoir d'antant"
      property="og:description"/>
  <meta content="http://" property="og:image"/>
  <title>Cours de dentelles aux fuseaux Aube</title>
</head>
<body>
<nav class="navbar navbar-dark" id="phoneMenu">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="index.html">
      <img src="../src/img/LesFuseauxMalins.svg" alt="logo des fuseaux malin" width="75" height="75"></a>
  </div>
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="mobileMenu">
      <ul>
        <li>
          <a class="btn buttonMenu mb-2 " href="../index.html/#accueil">Accueil</a>
        </li>
        <li>
          <a class="btn buttonMenu mb-2 " href="../index.html/#contact">Contact</a>
        </li>
        <li>
          <a class="btn buttonMenu mb-2"  href="#events">Évenement</a>
        </li>
        <li>
          <!-- Default dropright button -->
          <div class="btn-group dropdown">
            <button type="button" class="btn buttonMenu dropdown-toggle" id="dropMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Nos amis
            </button>
            <ul class="dropdown-menu py-0" aria-labelledby="dropMenu" id="friendsLink1">
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://dentellieres.com">Sebourg</a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.artdeladentelleenbourgogne.com/">Association Art de la dentelle en Bourgogne</a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://ddlj91.wix.com/dentellieredelajuine">Le Club des Dentellières de la Juine </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://perso.wanadoo.fr/gilliodts-dentelle">Les Gilliodts dentellières d'Hondschoote </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://dentellieresfrancheville.blogspot.fr/">Dentellières de Francheville  </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://lesdiversespassionsdejosi.over-blog.com/">Dentelle au fil du Valchérie </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.kantcentrum.com/">Kantcentrum Bruges </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.midon-dentelle.fr/">Midon dentelles </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.buhmanncreation.fr/">Buhmann créations </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.dentelledemagali.com/">Magali Deboudard </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.ladentelledupuy.com/">De Fil en Fuseau</a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.hoteldeladentelle.com/">Hotel de la dentelle Brioude  </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.lacebooks.com/">Librairie Brugse Boekhandel </a></li>
              <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.bart-francis.be/">Francis Busschaert  </a></li>
            </ul>
          </div>
        </li>
        <li class="social ">
          <a class="facebook" href="#"><img src="../src/img/facebook.svg" width="50px" height="50px" alt="Facebook"></a>
          <a class="twitter " href="#"><img src="../src/img/twitter.svg" width="50px" height="50px" alt="twitter"></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="wrapper d-flex flex-row">
  <header>
    <div class="sidebar-header flex-column" id="laptopMenu" >
      <nav class="navbar " >
        <ul >
          <li>
            <a class="navbar-brand" href="index.html">
              <img src="../src/img/LesFuseauxMalins.svg" alt="logo des fuseaux malin" width="200" height="200">
            </a>
          </li>
          <li>
            <a class="btn buttonMenu mb-2 " href="../index.html">Accueil</a>
          </li>
          <li>
            <a class="btn buttonMenu mb-2 " href="../index.html">Contact</a>
          </li>
          <li>
            <a class="btn buttonMenu mb-2"  href="#events">Évenement</a>
          </li>
          <li>
            <!-- Default dropright button -->
            <div class="btn-group dropend">
              <button type="button" class="btn buttonMenu dropdown-toggle" id="dropMenu" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Nos amis
              </button>
              <ul class="dropdown-menu py-0" aria-labelledby="dropMenu" id="friendsLink">
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://dentellieres.com">Sebourg</a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.artdeladentelleenbourgogne.com/">Association Art de la dentelle en Bourgogne</a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://ddlj91.wix.com/dentellieredelajuine">Le Club des Dentellières de la Juine </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://perso.wanadoo.fr/gilliodts-dentelle">Les Gilliodts dentellières d'Hondschoote </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://dentellieresfrancheville.blogspot.fr/">Dentellières de Francheville  </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://lesdiversespassionsdejosi.over-blog.com/">Dentelle au fil du Valchérie </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.kantcentrum.com/">Kantcentrum Bruges </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.midon-dentelle.fr/">Midon dentelles </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.buhmanncreation.fr/">Buhmann créations </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.dentelledemagali.com/">Magali Deboudard </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.ladentelledupuy.com/">De Fil en Fuseau</a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.hoteldeladentelle.com/">Hotel de la dentelle Brioude  </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.lacebooks.com/">Librairie Brugse Boekhandel </a></li>
                <li class="btnLink mb-2"><a class="btn buttonMenu dropdown-item" href="https://www.bart-francis.be/">Francis Busschaert  </a></li>
              </ul>
            </div>
          </li>
          <li class="social">
            <a href="#"><img src="../src/img/facebook.svg" width="50px" height="50px" alt="Facebook"></a>
            <a href="#"><img src="../src/img/twitter.svg" width="50px" height="50px" alt="twitter"></a>
          </li>
        </ul>
      </nav>
    </div>
  </header>
  <main class="flex-fill">
    <div class="container-fluid">
      <div class="row">
        <div class="col">
          <h2 id="events" class="text-center mt-2 mb-2">Les prochains événements</h2>
        </div>
      </div>
      <section class="erratum">
        <div class="row">
          <div class="col">
            <h3 class="text-center">Erratum</h3>
            <p >En raison de la crise sanitaire beaucoup d'événements on été annulés ou repoussés à des dates ultérieurs, de ce fait nous tiendrons cet espace à jour en fonction des différentes information en notre possession. </p>
          </div>
        </div>
      </section>
      <section class="event-cards">
        <div class="row mt-2 ">
          <div class="col-4 col-sm">
          </div>
          <div class="col-4 col-sm">
            <div class="card">
              <img alt="..." class="card-img-top" src="../src/poster/2021 06 23 affiche colpo 20211024_1.jpg">
              <div class="card-body">
                <p class="card-text text-center ">Les 11 et 12 septembre 2021 </p>
              </div>
            </div>
          </div>
          <div class="col-4 col-sm">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4 col-sm">
          </div>
          <div class="col-4 col-sm">
            <div class="card">
              <img alt="..." class="card-img-top" src="../src/poster/Affiche_couvige_Les_fuseaux_en_Seine_2021.jpg">
              <div class="card-body">
                <p class="card-text text-center ">Le 26 septembre 2021 </p>
              </div>
            </div>
          </div>
          <div class="col-4 col-sm">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4 col-sm">
          </div>
          <div class="col-4 col-sm">
            <div class="card">
              <img src="../src/poster/affiche pdf festival 2022 st cosmes1024_1.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <p class="card-text ">Les 25 et 26 juin 2022 nous présents sur cette exposition</p>
              </div>
            </div>
          </div>
          <div class="col-4 col-sm">
          </div>
        </div>
      </section>
      <div class="row">
        <div class="col">
          <h2 class="text-center mt-2 mb-2" id="pastEvents">Nous y étions</h2>
        </div>
      </div>
      <section class="event-cards">
        <div class="row mt-2 ">
          <div class="col-4 col-sm">
          </div>
          <div class="col-4 col-sm">
            <div class="card">
              <img alt="..." class="card-img-top" src="../src/poster/20210521_affiche_provins1024_1.jpg">
              <div class="card-body">
                <p class="card-text text-center ">Les 12 et 13 juin 2021 </p>
              </div>
            </div>
          </div>
          <div class="col-4 col-sm">
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-4 col-sm">
          </div>
          <div class="col-4 col-sm">
            <div class="card">
              <img alt="..." class="card-img-top" src="../src/poster/rouffignac COUVIGE 26 & 27 sept 20201024_1.jpg">
              <div class="card-body">
                <p class="card-text text-center ">Le 26 et 27 septembre 2020 </p>
              </div>
            </div>
          </div>
          <div class="col-4 col-sm">
          </div>
        </div>
      </section>
    </div>
  </main>
</div>
  <footer>
    <p class="copyright text text-center" id="footer">Les fuseaux malins 2021 - site réalisé par Rossi Sébastien - <a
        href="legal.html" id="legals">Mentions légales</a></p>
  </footer>
</body>
</html>